@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	a:hover {
		@apply text-neutral-500 dark:text-neutral-300;
	}
}

@font-face {
	font-family: 'WildWords';
	src: url('/fonts/CC Wild Words Roman.ttf');
}

body {
	font-family: 'WildWords';
}
