@import 'tailwindcss';

@theme {
	--default-font-family: WildWords;
	--aspect-portrait: 7/10;
	--text-shadow:
		-1px -1px 0 var(--tw-shadow-color), 1px -1px 0 var(--tw-shadow-color),
		-1px 1px 0 var(--tw-shadow-color), 1px 1px 0 var(--tw-shadow-color);
}

@layer base {
	@font-face {
		font-family: 'WildWords';
		src: url('/fonts/CC Wild Words Roman.ttf');
	}

	a {
		@apply transition-opacity hover:opacity-70;
	}
}

@layer components {
	.subtitle {
		@apply text-neutral-400;
	}
}

@layer utilities {
	.more-button {
		@apply border-2 border-black px-2 text-xs transition-colors hover:bg-neutral-200 lg:text-sm;
	}
}
